<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="cryptoview/css/style_index.css">
    <title>CryptoView</title>
</head>
<body>
    <main>
    	<div id="discription">
    		<header>Cryptocurrency quotes</header>
    		<p>
    			Hi, my name is Denis Babenko and this is my little project!<br/>
    			<br/>
    			On this site you can view cryptocurrency quotes from several exchanges online or download PyQt client <del>TODO: come up with, why not just executable file</del>. Data is delivered in real time.<br/>
				<br/>
				Server part is written in the Python programming language using asynchronous framework aiohttp. You can view the source code at this <a target="_blank" title="Source code" href="https://github.com/WtCrow/cryptocurrency_quotes">link</a>.<br/>
				<br/>
				Also yiu may view my resume: <a target="_blank" href="https://resume.io/r/6gpSY4LLT" title="HH resume">link</a><br/>
				<br/>
    			<p align="right">Enjoy using! :)
			</p>
    	</div>
    	<a href="/chart" title="View online chart">
			<img src="cryptoview/image/candles.png" class="img_link" alt="Online chart"/></a>
	   	<a href="https://github.com/WtCrow/client_cryptocurrency_quotes/archive/master.zip" title="Download client">
			<img src="cryptoview/image/qt.png" class="img_link" alt="PyQt Client"/></a>
    </main>
</body>
</html>
