<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/cryptoview/css/style_index.css">
	<link rel="shortcut icon" type="image/png" href="static/favicon.ico"/>
    <title>CryptoView</title>
</head>
<body>
    <main>
    	<div id="discription">
    		<header>Cryptocurrency quotes</header>
    		<p>
    			Hello! On this site you can see cryptocurrency quotes from several exchanges in online or download PyQt client. Data is delivered in real time.<br/>
				<br/>
				Server part written on Python with using asynchronous framework aiohttp. You can see the source code on this <a target="_blank" title="Source code" href="https://github.com/WtCrow/cryptocurrency_quotes">link</a>.<br/>
				<br/>
				Also, you can see my resume: <a target="_blank" href="https://resume.io/r/6gpSY4LLT" title="My resume">link</a><br/>
    			<p align="right">Enjoy using! :)
			</p>
    	</div>
		<div class="links">
			<div class="img_link">
				<a href="/chart" title="View online chart">
					<img src="static/cryptoview/image/candles.png" alt="Online chart"/>
				</a>
			</div>
			<div class="img_link">
				<a href="https://github.com/WtCrow/client_cryptocurrency_quotes/archive/master.zip" title="Download client">
					<img src="static/cryptoview/image/qt.png" alt="PyQt Client"/>
				</a>
			</div>
		</div>
    </main>

</body>
</html>
