* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}

body {
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    background-color: white;
    min-height: 100%;
    position: relative;
}

header {
    font-size: 20pt;
    text-align: center;
    margin-bottom: 1%;
}

main {
    padding: 1%;
    background-color: #0080FF;
    border-radius: 20px;
}

#discription {
    color:white;
    font-size: 14pt;
    font-style: italic;
    font-stretch: ultra-expanded;
    padding: 2%;
}

.img_link {
    background-color: white;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 1%;
    width: 25%;
    max-height: 30vh;
    border-radius: 20px;
    padding: 1%;
    transition: 1s;
}

.img_link:hover {
    transform: scale(1.05);
}

a {
  color: #AEF1FF;
}

a:active {
  color: #00FF2A;
}

::selection {
  background: white;
  color: black;
}